@charset "utf-8";
html {
	height: 100%;
	margin: auto;
	padding: 0;
	width: 100%;
}
body {
	height: 600px;
	margin: auto;
	overflow-x: hidden; 
	width: 1000px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
.main {
	height: auto !important;
	position: relative;
	width: 1000px;
}
.banner {

	position: relative;
}
#obj{
	width:1000px;
	height:250px
}
.nav {
	border: solid 1px #01a9db;
	display: inline;
	float: left;
	height: 600px;
	margin: 5px 0 0 0;
	position: relative;
	width: 300px;
}
.nav-title {
	height: 200px;
	position: relative;
	width: 300px;
}
.nav-sub {
	background-color: #01a9db;
	border-bottom: 1px solid;
	border-top: 1px solid;
	color: white;
	cursor: pointer;
	font-size: 11pt;
	height: 40px;
	margin: auto;
	margin-top: 20px;
	position: relative;
	line-height: 40px;
	overflow: hidden;
	width: 200px;
}
.nav font {
	height: 36px;
	padding: 0 0 0 40px;
	position: absolute;
	width: 100px;
}
.nav-active {
	background: url(img/nav-active.png) no-repeat !important;
	_background: url(img/nav-active.gif) no-repeat;
	display: none;
	height: 14px;
	margin: 11px 0 0 193px;
	position: absolute;
	width: 7px;
	z-index: 1;
}
.menu {
	display: inline;
	float: left;
	height: 35px;
	margin: 5px 0 0 0 ;
	position: relative;
	width: 1000px;
}
.menu-sub {
	background-color: #01a9db;
	border-left: 1px solid;
	border-right: 1px solid;
	color: white;
	cursor: pointer;
	display: inline;
	float: left;
	font-size: 11pt;
	text-align: center;
	height: 35px;
	position: relative;
	line-height: 35px;
	width: 98px;
}

.frame-sub {
	border: solid 1px #01a9db;
	display: inline;
	float: left;
	height: 600px;
	margin: 5px 0 0 2px;
	position: relative;
	width: 692px;
	overflow-x : hidden;
    overflow-y : hidden;
}
.footer {
	background:url("pic_data/footer.jpg");
	border: solid 1px #01a9db;
	float: left;
	height: 100px;
	margin: auto;
	margin: 5px 0 0 0;
	position: relative;
	width: 998px;
}
.footer font {
	color: white;
	float: right;
	font-family: Microsoft YaHei UI;
	font-size: 12pt;
	height: 30px;
	left: 50%;
	margin: 50px 0 0 -150px;
	position: absolute;
	text-align: center;
	width: 400px;
}
.footer img {
	height: 50px;
	margin: 30px 0 0 30px;
	width: 200px;
}
#top{
	width: 1000px;
	height: 80px;
	text-align: justify;
}
#top h1{
	display: inline-block;
	height: 80px;
	font-size: 25px;
	color: #01a9db;
	vertical-align: top;
	line-height: 50px;
}
#top img{
	float: right;
}